{% extends "_layouts/layout" %}

{% block pageCss %}

{% endblock %}

{% block content %}
<div>

    <div>
        <div style="background-image: url('{{ entry.heroImage.one.url() }}')">
        </div>
        <div></div>
        <div>
            <h1>{{ entry.heroTitle }}</h1>
            <p>{{ entry.heroText }}</p>
        </div>
    </div>


    {% include '_components/page-builder' %}

    <section>
        <div>
            <div>
                <h2>Who we work with...</h2>
            </div>
            {% include '_components/_logo-carousel' %}
        </div>
    </section>

    <section>
        <div>
            <div>
                <h2>What our clients say about us...</h2>
            </div>
            {% include '_components/_testimonials' %}
        </div>
    </section>

</div>
{% endblock %}
