div.apply-now {
    background-color: #65a30d;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten(#65a30d, 5%);
    }

    a {
        display: block;
        color: #fff;
    }
}

@media (min-width: 320px) {
    div.apply-now {
        margin-top: 30px;
        max-width: fit-content;
        a {
            padding: 1.4rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.4;
        }
    }
}

@media (min-width: 560px) {
    div.apply-now {
        margin-top: 40px;
        a {
            padding: 1.4rem;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}

@media (min-width: 1280px) {
    div.apply-now {
        margin-top: 50px;
        a {
            padding: 1.6rem 3rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}