div.article {
    div.section-header {
        border-bottom: 1px solid $beige;
    }

    div.main-image {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    }
    
    div.archive {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

        h2 {
            font-family: $monty;
            text-transform: uppercase;
            font-weight: 700;
        }
        ul {
            background: #f5f5f5;

            li {
                border-bottom: 1px solid $beige;
                &:last-of-type {
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}


@media only screen and (min-width: 320px) {
    div.article {
        div.section-header {
            padding-bottom: 15px;
        }
        div.main-image {
            margin-bottom: 20px;
        }

        div.archive {
            text-align: center;
            h2 {
                padding: 12px 10px;
            }
            ul {
                padding: 20px;
                li {
                    font-size: 0.85rem;
                    line-height: 1.3;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 560px) {
    div.article {
        div.main-image {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 730px) {
    div.article {
        div.main-image {
            margin-bottom: 40px;
        }
        div.archive {
            ul {
                padding: 30px 40px;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    div.article {
        div.archive {
            h2 {
                padding: 20px 40px;
            }
            text-align: left;
        }
    }
}

@media only screen and (min-width: 1140px) {
    div.article {
        div.section-header {
            text-align: left;
        }
    }
}


@media only screen and (min-width: 1280px) {
    div.article {
        div.archive {
            h2 {
                font-size: 0.9rem;
                padding: 15px 20px;
            }
            ul {
                padding: 20px;
                li {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    div.article {
        div.archive {
            h2 {
                font-size: 1rem;
                padding: 15px 25px;
            }
            ul {
                padding: 25px;
                li {
                    font-size: 0.85rem;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}