div.article-cards {
    ul {
        li {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: all .5s ease;
            overflow: hidden;
            position: relative;
            // align-self: start;
            a {
                display: grid;
                background: #fff;
            }
            div.img {
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;
                span {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    line-height: 0;
                    background-color: #a8a29e;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: all .5s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            div.img:hover span {
                transform: scale(1.1);
            }

            div.text {
                height: 100%;
                p:not(.more) {
                    margin-bottom: 0;
                }
            }
            p.more {
                position: absolute;
                transition: all 1s ease;
                left: 0;
                font-family: $monty;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
                background: #a8a29e;
                color: #fff;
                width: 100%;
            }
        }
        li:last-of-type {
            margin: 0;
        }
        li:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            p.more {
                transform: translateY(-5px);
            }
        }
    }
}

@media only screen and (min-width: 320px) {

    div.article-cards {
        ul {
            li {
                margin-bottom: 50px;
                a {
                    padding-bottom: 60px;
                }
                div.img {
                    grid-row: 1;
                    height: 180px;
                }
                div.text {
                    padding: 25px 20px 0 20px;
                    h2 {
                        font-size: 1.2rem;
                        line-height: 1.25;
                        margin-bottom: 10px;
                    }
                    p:not(.more) {
                        font-size: 0.85rem;
                        line-height: 1.5;
                    }
                }
                p.more {
                    font-size: 0.7rem;
                    padding: 12px 20px 20px 20px;
                    bottom: -10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {

    div.article-cards {
        ul {
            li {
                a {
                    padding-bottom: 80px;
                }
                div.text {
                    padding: 30px 30px 0 30px;
                    h2 {
                        font-size: 1.3rem;
                    }
                    p:not(.more) {
                        font-size: 0.9rem;
                    }
                }
                p.more {
                    font-size: 0.7rem;
                    padding: 15px 30px 25px 30px;
                }
            }
        }
    }
}


@media only screen and (min-width: 560px) {

    div.article-cards {
        ul {
            li {
                a {
                    padding-bottom: 100px;
                }
                div.text {
                    padding: 40px 50px 0 50px;
                }
                p.more {
                    font-size: 0.8rem;
                    padding: 20px 50px 30px 50px;
                    bottom: -12px;
                }
                div.img {
                    height: 220px;
                }
            }
        }
    }
}


@media only screen and (min-width: 730px) {
    div.article-cards {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px 6%;
            li {
                margin-bottom: unset;
                a {
                    padding-bottom: 70px;
                }
                div.text {
                    padding: 30px 20px 0 20px;
                    h2 {
                        font-size: 1.2rem;
                        line-height: 1.25;
                        margin-bottom: 10px;
                    }
                    p:not(.more) {
                        font-size: 0.85rem;
                    }
                }
                div.img {
                    height: 160px;
                }
                p.more {
                    font-size: 0.7rem;
                    padding: 12px 20px 20px 20px;
                    bottom: -10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    div.article-cards {
        ul {
            grid-gap: 60px 7%;
            li {
                margin-bottom: unset;
                div.text {
                    padding: 30px 30px 0 30px;
                }
                p.more {
                    font-size: 0.8rem;
                    padding: 15px 30px 25px 30px;
                    bottom: -12px;
                }
                div.img {
                    height: 200px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    div.article-cards {
        ul {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px 4%;
            li {
                margin-bottom: unset;
                a {
                    padding-bottom: 60px;
                }
                div.text {
                    padding: 25px 20px 0 20px;
                    h2 {
                        font-size: 1.1rem;
                        line-height: 1.25;
                        margin-bottom: 10px;
                    }
                    p:not(.more) {
                        font-size: 0.8rem;
                    }
                }
                p.more {
                    font-size: 0.7rem;
                    padding: 12px 20px 20px 20px;
                }
                div.img {
                    height: 150px;
                }
            }
        }
    }
}


@media only screen and (min-width: 1280px) {
    div.article-cards {
        ul {
            li {
                a {
                    padding-bottom: 80px;
                }
                div.text {
                    padding: 30px 25px 0 25px;
                    h2 {
                        font-size: 1.2rem;
                        line-height: 1.25;
                        margin-bottom: 15px;
                    }
                    p:not(.more) {
                        font-size: 0.82rem;
                    }
                }
                p.more {
                    font-size: 0.7rem;
                    padding: 12px 25px 25px 25px;
                }
                div.img {
                    height: 180px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    div.article-cards {
        ul {
            li {
                a {
                    padding-bottom: 80px;
                }
                div.text {
                    padding: 35px 40px 0 40px;
                    h2 {
                        font-size: 1.3rem;
                        line-height: 1.3;
                    }
                    p:not(.more) {
                        font-size: 0.85rem;
                    }
                }
                p.more {
                    font-size: 0.75rem;
                    padding: 15px 40px 25px 40px;
                }
                div.img {
                    height: 200px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    div.article-cards {
        ul {
            grid-gap: 70px 5%;

        }
    }
}