div.relative:has(.clientCarousel) {
    position: relative;
    height: 120px; // Define container height to prevent layout issues
    overflow: hidden; // Prevent horizontal scroll
}

.clientCarousel {
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    overflow: hidden; // Ensure carousel content doesn't break out
    contain: layout style; // Improve performance and prevent layout shifts
    .clients-inner {
      align-items: center;
      width: 100%;
      max-width: 100%;
    }
    .swiper-slide {
      width: auto!important;
      display: flex;
      flex-wrap: nowrap; // Prevent wrapping that could cause layout issues
      justify-content: center;
      align-items: center;
      margin-right: auto!important;
      flex-shrink: 0; // Prevent slides from shrinking
      
      img {
        height: 100%;
        width: auto;
        max-width: 200px; // Prevent images from being too wide
        object-fit: contain; // Maintain aspect ratio
        display: block; // Remove any inline spacing
      }
    }
    &:before, &:after {
        display: block;
        z-index: 100;
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
    }
    &:before {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
        left: 0;
    }
    &:after {
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
        right: 0;
    }
  }
  

  @media only screen and (min-width: 320px) {
    div.relative:has(.clientCarousel) {
        height: 85px; // Adjust container height for mobile
    }
    .clientCarousel {
        top: 45px;
        .clients-inner {
          gap: 20px;
        }
        .swiper-slide {
          height: 40px;
        }
        &:before, &:after {
            width: 50px;
        }
      }
  }

  @media only screen and (min-width: 400px) {
    div.relative:has(.clientCarousel) {
        height: 95px;
    }
    .clientCarousel {
        .clients-inner {
          gap: 30px;
        }
        .swiper-slide {
          height: 50px;
        }
      }
  }

  @media only screen and (min-width: 560px) {
    div.relative:has(.clientCarousel) {
        height: 115px;
    }
    .clientCarousel {
        top: 55px;
        // left: -20px;
        // right: -20px;
        .clients-inner {
          gap: 30px;
        }
        .swiper-slide {
          height: 60px;
        }
        &:before, &:after {
            width: 80px;
        }
      }
  }

  @media only screen and (min-width: 1024px) {
    div.relative:has(.clientCarousel) {
        height: 135px;
    }
    .clientCarousel {
        .clients-inner {
          gap: 40px;
        }
        .swiper-slide {
          height: 70px;
        }
        &:before, &:after {
            width: 100px;
        }
      }
  }

  @media only screen and (min-width: 1280px) {
    div.relative:has(.clientCarousel) {
        height: 145px;
    }
    .clientCarousel {
        top: 65px;
        // left: -100px;
        // right: -100px;
        .swiper-slide {
          height: 80px;
        }
        &:before, &:after {
            width: 100px;
        }
      }
  }


  @media only screen and (min-width: 1400px) {
    div.relative:has(.clientCarousel) {
        height: 170px;
    }
    .clientCarousel {
        top: 80px;
        // left: -70px;
        // right: -70px;
        .swiper-slide {
          height: 90px;
        }
      }
  }

  @media only screen and (min-width: 1600px) {
    div.relative:has(.clientCarousel) {
        height: 180px;
    }
    .clientCarousel {
        .clients-inner {
          gap: 50px;
        }
        .swiper-slide {
          height: 100px;
        }
      }
  }

  @media only screen and (min-width: 1800px) {
    div.relative:has(.clientCarousel) {
        height: 190px;
    }
    .clientCarousel {
        top: 90px;
        // left: -100px;
        // right: -100px;
      }
  }

  @media only screen and (min-width: 2000px) {
    div.relative:has(.clientCarousel) {
        height: 200px;
    }
    .clientCarousel {
        left: -150px;
        right: -150px;
        .swiper-slide {
            height: 110px;
          }
      }
  }
