div.fui-page-container {
    display: grid;
    div.fui-row {
      display: unset;
      .fui-field {
        margin-right: unset;
        padding-right: unset;
      }
      label {
        color: #64748b;
      }
      label.fui-checkbox-label {
        position: unset;
      }
      .fui-label-right-input .fui-input-container {
        margin: 0;
      }
      .fui-input, .fui-select {
        padding: 15px;
        color: #64748b;
      }
      .fui-checkbox input:checked + label::before {
        background-color: #64748b;
        border-color: #64748b;
      }
    }
    legend {
      display: none;
    }
  }
  
  div.fui-field-container {
    display: grid;
  }
  
  div.fui-label-right-input {
    div.fui-field-container {
      display: grid;
      grid-template-columns: auto 1fr;
      div.fui-checkbox {
        width: 25px;
      }
    }
  }
  
  div.fui-page-container div.fui-row .fui-checkbox input:checked+label::before {
    margin-top: -3px;
    outline: none;
  }
  
  div.fui-btn-wrapper {
    button {
      background: #65a30d;
      border-color: #65a30d;
      padding: 15px 50px;
      &:hover {
        background: lighten(#65a30d, 10%);
        border-color: lighten(#65a30d, 10%);
      }
    }
  }
  
  div#fui-studentSignUp-qmucbn-p-518 {
    div.fui-page-container {
      div.fui-page-row:nth-of-type(6) {
        background-color: pink;
      }
    }
  }
  
  div.fui-alert {
    text-align: center;
  }
  
  
  
  ////////////////////////////////////////////////////////////////////////////
  @media only screen and (min-width: 960px) {
    div.fui-page-container {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      div.fui-page-row:has(div.fui-type-multi-line-text) {
        grid-column: 1 / span 2;
      }
    }
  }
  
  ////////////////////////////////////////////////////////////////////////////
  @media only screen and (min-width: 1024px) {
    div.fui-alert {
      padding: 30px 50px;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }