// FAQ Section Styling
// Extends the existing accordion component with FAQ-specific styling

.faq-section {
    background: #fff;
    position: relative;
    
    .section-header {
        margin-bottom: 40px;
        
        h2 {
            color: $dk-grey;
            margin-bottom: 20px;
        }
        
        .section-intro {
            color: #58595b;
            
            p {
                margin-bottom: 15px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .faq-accordion {
        // Inherits all styling from ul.accordion in _accordion.scss
        // Add any FAQ-specific overrides here if needed
        justify-self: center;
        margin: 0 auto;
        
        li.panel {
            div.accHeader {
                // FAQ questions might be longer, ensure good readability
                line-height: 1.3;
                
                // Slightly different hover state for FAQs
                &:hover {
                    background: lighten(#71717a, 20%);
                }
            }
            
            div.accContent {
                > div {
                    // FAQ answers styling with subtle background
                    background: #f8f9fa;
                    p {
                        color: #58595b;
                        line-height: 1.7;
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    
                    // Handle lists in FAQ answers
                    ul, ol {
                        margin: 15px 0;
                        padding-left: 20px;
                        
                        li {
                            margin-bottom: 8px;
                            line-height: 1.5;
                            border: none; // Override any inherited border
                            padding-left: 0;
                        }
                    }
                    
                    // Handle links in FAQ answers
                    a {
                        color: $dk-grey;
                        text-decoration: underline;
                        
                        &:hover {
                            color: darken($dk-grey, 15%);
                        }
                    }
                }
            }
        }
    }
}

// Responsive adjustments for FAQ section
@media only screen and (min-width: 320px) {
    .faq-section {
        .section-header {
            margin-bottom: 30px;
            
            h2 {
                font-size: 1.4rem;
                margin-bottom: 15px;
            }
            
            .section-intro {
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }
}

@media only screen and (min-width: 560px) {
    .faq-section {
        .section-header {
            margin-bottom: 35px;
            
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 730px) {
    .faq-section {
        .section-header {
            margin-bottom: 45px;
            
            h2 {
                font-size: 1.6rem;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .faq-section {
        .section-header {
            h2 {
                font-size: 1.7rem;
            }
            
            .section-intro {
                font-size: 0.95rem;
                line-height: 1.4;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .faq-section {
        .section-header {
            h2 {
                font-size: 1.8rem;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .faq-section {
        .section-header {
            margin-bottom: 50px;
            
            h2 {
                font-size: 2rem;
                font-weight: 400;
            }
            
            .section-intro {
                font-size: 1.05rem;
                line-height: 1.6;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .faq-section {
        .section-header {
            h2 {
                font-size: 2.2rem;
            }
            
            .section-intro {
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {
    .faq-section {
        .section-header {
            h2 {
                font-size: 2.4rem;
            }
        }
    }
}

// FAQ-specific responsive padding overrides to reduce vertical padding
@media only screen and (min-width: 320px) {
    .faq-section .faq-accordion {
        li.panel {
            div.accContent {
                > div {
                    padding: 15px 15px 18px 15px; // Reduced from 20px 15px 25px 15px
                }
            }
        }
    }
}

@media only screen and (min-width: 730px) {
    .faq-section .faq-accordion {
        li.panel {
            div.accContent {
                > div {
                    padding: 18px 30px 20px 25px; // Reduced from 25px 30px 25px 25px
                }
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .faq-section .faq-accordion {
        li.panel {
            div.accContent {
                > div {
                    padding: 18px 50px 20px 30px; // Reduced from 25px 50px 25px 30px
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .faq-section .faq-accordion {
        li.panel {
            div.accContent {
                > div {
                    padding: 25px 60px 28px 40px; // Reduced from 40px 60px 45px 40px
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .faq-section .faq-accordion {
        li.panel {
            div.accContent {
                > div {
                    padding: 30px 60px 35px 50px; // Reduced from 50px 60px 55px 50px
                }
            }
        }
    }
}
