footer {
    background: #d6d3d1;
    border-bottom: 5px solid #666;
    h2 {
        font-family: $monty;
        border-bottom: 1px solid $beige
    }
}

div.footer-nav {
    ul {
        li {
            font-family: $monty;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 1px solid rgba(#58595b, 0.2);
        }
        li:last-of-type {
            border: none;
        }
    }
}

div.creds ul {
    display: flex;
    flex-wrap: wrap;
    li {
        max-width: fit-content;
        img {
            width: auto;
            max-height: 100%;
        }
    }
}

div.social ul {
    display: flex;
    li {
        position: relative;
        border-radius: 50%;
        font-size: 0;
        line-height: normal;
        a {
            display: block;
            width: 100%;
            height: 100%;
            background-color: $beige;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            transition: all .35s ease;
            &:hover {
                transform: scale(1.07);
                background-color: darken($beige, 5%);
            }
        }
    }
    li:nth-of-type(1) a {
        background-image: url(/images/linkedin-in.svg);
    }
    li:nth-of-type(2) a {
        background-image: url(/images/whatsapp.svg);
    }
    li:nth-of-type(3) a {
        background-image: url(/images/envelope-regular.svg);
    }
}

@media only screen and (min-width: 320px) {
    footer {
        padding: 60px 0 30px 0;
        div.ctr {
            grid-row-gap: 40px;
        }
        h2 {
            font-size: 1.2rem;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
    }

    div.footer-nav {
        ul {
            li {
                font-size: 0.75rem;
                padding: 10px 0;
            }
        }
    }

    div.social ul {
        gap: 10px;
        li {
            width: 40px;
            height: 40px;
        }
        li:nth-of-type(1) a {
            background-size: 45%;
        }
        li:nth-of-type(2) a {
            background-size: 45%;
        }
        li:nth-of-type(3) a {
            background-size: 55%;
        }
        li:nth-of-type(4) a {
            background-size: 53%;
        }
    }
    
    div.creds ul {
        grid-row: 1;
        gap: 20px 10px;
        li {
            flex: 1 1 10rem;
            height: 45px;
            min-width: 40px;
        }
    }

    p.copy {
        font-size: 0.8rem;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 560px) {
    footer {
        padding: 80px 0 30px 0;
        div.ctr {
            grid-row-gap: 50px;
        }
        h2 {
            font-size: 1.3rem;
        }
    }

    div.footer-nav {
        ul {
            li {
                font-size: 0.8rem;
                padding: 10px 0;
            }
        }
    }
    

    p.copy {
        font-size: 0.9rem;
    }
}


@media only screen and (min-width: 730px) {
    footer {
        padding: 90px 0 40px 0;
    }

    div.creds ul {
        grid-row: 1;
        gap: 20px 15px;
        li {
            flex: 1 1 1rem;
            height: 55px;
        }
    }
}


@media only screen and (min-width: 1024px) {
    footer {
        padding: 120px 0 40px 0;
        div.ctr {
            grid-row-gap: 60px;
        }
    }

    div.footer-nav {
        ul {
            li {
                font-size: 0.85rem;
            }
        }
    }

    div.social ul {
        li {
            width: 50px;
            height: 50px;
        }
        li:nth-of-type(1) a {
            background-size: 42%;
        }
        li:nth-of-type(2) a {
            background-size: 42%;
        }
        li:nth-of-type(3) a {
            background-size: 52%;
        }
        li:nth-of-type(4) a {
            background-size: 50%;
        }
    }    
}

@media only screen and (min-width: 1140px) {
    footer {
        padding: 100px 0 40px 0;
        div.ctr {
            grid-template-columns: 30% auto;
            grid-template-rows: auto 1fr auto;
            grid-row-gap: 40px;
            grid-column-gap: 10%;
        }
    }

    div.footer-nav {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    div.creds {
        grid-column: 2;
    }
    div.social {
        grid-column: 2;
    }
    p.copy {
        grid-column: 1 / span 2;
        margin-top: 40px;
    }

}

@media only screen and (min-width: 1280px) {
    footer {
        padding: 120px 0 50px 0;
    }
}

@media only screen and (min-width: 1800px) {
    footer {
        padding: 140px 0 50px 0;
        div.ctr {
            grid-row-gap: 60px;
        }
        h2 {
            font-size: 1.5rem;
        }
    }

    div.footer-nav {
        ul {
            li {
                font-size: 0.8rem;
                padding: 15px 0;
            }
        }
    }

    div.creds ul {
        gap: 0 20px;
        li {
            height: 65px;
        }
    }
}
