div.job-listing {
    ul {
        li {
            transition: all 0.3s ease-in-out;
            text-align: center;
            text-transform: uppercase;

            a {
                background: lighten($lt-beige, 5%);
                border: 1px solid #fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                transition: all 0.3s ease-in-out;
                display: block;
                overflow: hidden;
                border-radius: 5px;
            }

            h2, p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            h2 {
                color: $beige;
                text-transform: uppercase;
                font-weight: 600;
            }

            p {
                color: darken($beige, 10%);
            }

            strong {
                text-transform: uppercase;
                font-weight: 700;
            }

            .apply-now {
                background-color: darken($lt-beige, 7%);
                color: #fff;
                border-radius: 5px;
                text-transform: uppercase;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.5s ease-in-out;
                white-space: nowrap;
                text-align: center;
            }
        }

        li:hover {
            a {
                background: $lt-beige;
            }

            .apply-now {
                background-color: darken($lt-beige, 15%);
                transform: scale(1.05);
            }
        }
    }
}


@media (min-width: 320px) {
    div.job-listing ul li {
        a {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            gap: 0.2rem;
            padding: 1rem;
            align-items: center;
        }

        h2 {
            grid-row: 1;
            margin-inline: auto;
            font-size: 1.1rem;
            padding-bottom: 3px;
            margin-bottom: 5px;
            border-bottom: 1px solid darken($lt-beige, 5%);
        }

        p {
            grid-column: 1;
            font-size: 0.9rem;
            line-height: 1.5;
        }

        strong {
            font-size: 0.85rem;
        }

        .apply-now {
            grid-column: 1;
            grid-row: 5;
            justify-self: center;
            padding: 0.5rem 1.5rem;
            font-size: 0.75rem;
            font-weight: 700;
            margin-top: 0.5rem;
        }

        &:not(:last-of-type) {
            margin-bottom: 3vh;
        }
    }
}

@media (min-width: 960px) {
    div.job-listing ul li {
        text-align: left;

        a {
            grid-template-columns: fit-content(100%) auto auto auto fit-content(100%);
            grid-template-rows: 1fr;
            gap: 1rem;
            padding: 1rem 1.5rem;
        }

        h2 {
            font-size: 0.95rem;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
            margin-inline: 0;
        }

        p {
            // font-size: 0.95rem;
        }
        p:nth-of-type(1) {
            text-align: left;
        }
        p:nth-of-type(3) {
            text-align: right;
        }

        strong {
            font-size: 0.9rem;
        }

        p, strong, h2 {
            text-align: left;
            grid-column: auto;
        }

        .apply-now {
            grid-column: auto;
            grid-row: auto;
            justify-self: end;
            margin-top: 0;
            margin-left: 0;
            font-size: 0.8rem;
        }
    }
}

@media (min-width: 1140px) {
    div.job-listing ul li {
        a {
            padding: 1.5rem 2rem;
            gap: 1.5rem ;
        }

        h2 {
            // font-size: 1.05rem;
            font-weight: 700;
        }

        p {
            font-size: 0.95rem;
        }

        strong {
            font-size: 1rem;
        }

        .apply-now {
            font-size: 0.85rem;
            padding: 0.6rem 1.75rem;
        }
    }
}


@media (min-width: 1280px) {
    div.job-listing ul li {
        a {
            padding: 1.5rem 3rem;
            gap: 2.5rem;
        }

        h2 {
            font-size: 1.05rem;
        }

        p {
            font-size: 1rem;
        }


        .apply-now {
            font-size: 0.95rem;
            // padding: 0.6rem 1.75rem;
        }
    }
}

@media (min-width: 1400px) {
    div.job-listing ul li {
        a {
            padding: 1.6rem 4rem;
            gap: 3rem;
        }

    }
}