

div.location {
    display: grid;
    justify-self: center;
    div.section-header {
        p.tel, p.email {
            font-weight: 500;
            text-transform: uppercase;
            a {
                font-weight: 700;
            }
        }
    }
    div.map-wrap {
        background: $lt-beige;
    }
}

@media only screen and (min-width: 320px) {
    div.location {
        max-width: 500px;
        p.tel {
            font-size: 1.2rem;
            line-height: 1.3;
            a {
                display: block;
            }
        }
        p.address {
            font-size: 0.8rem;
        }
        div.map-wrap {
            padding: 10px;
        }
        div#map {
            height: 300px;
        }
    }
}

@media only screen and (min-width: 480px) {
    div.location {
        p.tel {
            a {
                display: unset;
            }
        }
    }
}

@media only screen and (min-width: 730px) {
    div.location {
        div#map {
            height: 250px;
        }
    }
}

@media only screen and (min-width: 960px) {
    div.location {
        grid-template-columns: 45% 1fr;
        grid-column-gap: 50px;
        max-width: unset;
        width: 100%;
        div.section-header {
            text-align: left;
            align-self: center;
            margin-bottom: 0;
        }
        div#map {
            height: 300px;
        }
    }
}

@media only screen and (min-width: 1280px) {
    div.location {
        grid-column-gap: 7%;
        p.address {
            font-size: 0.9rem;
        }
        div#map {
            height: 300px;
        }
    }
}


@media only screen and (min-width: 1400px) {
    div.location {
        div.map-wrap {
            padding: 15px;
        }
    }
}


@media only screen and (min-width: 1600px) {
    div.location {
        div#map {
            height: 350px;
        }
    }
}