.parallax {
    position: relative;
    background-color: #eee;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset;
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  
  .pInner {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media only screen and (min-width: 320px) {
    div.parallax {
      height: 200px;
      .pInner {
        background-attachment: scroll;
      }
    }
  }

  
  @media only screen and (min-width: 560px) {
    div.parallax {
      height: 250px;
    }
  }

  
  @media only screen and (min-width: 730px) {
    div.parallax {
      .pInner {
        background-attachment: fixed;
      }
    }
  }
  
  @media only screen and (min-width: 960px) {
    div.parallax {
      height: 300px;
    }
  }

  
  @media only screen and (min-width: 1140px) {
    div.parallax {
      height: 350px;
    }
  }

  
  @media only screen and (min-width: 1280px) {
    div.parallax {
      height: 350px;
    }
  }

  
  @media only screen and (min-width: 1400px) {
    div.parallax {
      height: 400px;
    }
  }

  
  @media only screen and (min-width: 1600px) {
    div.parallax {
      height: 450px;
    }
  }
