@media only screen and (min-width: 320px) {
    div.section-intro {
        text-align: center;
        max-width: 900px;
        margin-bottom: 40px;
        h2 {
            font-size: 1.3rem;
            margin-bottom: 15px;
        }
        p {
            font-size: 0.95rem;
            line-height: 1.5;
        }
        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    div.sub.section-intro {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 560px) {
    div.section-intro {
        margin-bottom: 50px;
        h2 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: 730px) {
    div.section-intro {
        margin-bottom: 60px;
        h2 {
            font-size: 1.7rem;
        }
        p {
            font-size: 0.98rem;
        }
    }
}

@media only screen and (min-width: 960px) {
    div.section-intro {
        margin-bottom: 80px;
    }
}


@media only screen and (min-width: 1140px) {
    div.section-intro {
        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    div.section-intro {
        h2 {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
        p {
            // font-size: 1.15rem;
            line-height: 1.6;
        }
    }
}

@media only screen and (min-width: 1600px) {
    div.section-intro {
        margin-bottom: 100px;
        p {
            font-size: 1.05rem;
        }
    }
}
