div.service-panels {
    >ul {
        display: grid;

        >li {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            display: grid;
            opacity: 1;
            background: #e7e5e4;


            div.text {
                background: $lt-beige;
                height: 100%;
                opacity: 1;
                h2 {
                    font-weight: 600;
                    border-bottom: 1px solid #fff;
                }

                ul {
                    li {
                        font-family: $monty;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-bottom: 1px solid rgba(255, 255, 255,1);
                    }

                    li:last-of-type {
                        border: none;
                        padding-bottom: 0;
                    }
                }

            }

            div.img {
                overflow: hidden;
                border-bottom-style: solid;
                background-color: #fff;
                position: relative;
                overflow: hidden;
                a, span {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    line-height: 0;
                    background-color: rgba(#ddd, .4);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: all .5s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            div.img:hover a {
                transform: scale(1.1);
            }

            div.link {
                opacity: 1;
                a {
                    display: block;
                    font-family: $monty;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #fff;
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        background: url(/images/arrow-right.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        // background-color: red;
                        width: 15px;
                        height: 12px;
                        top: 50%;
                        transform: translateY(-38%);
                        right: 10%;
                        transition: .5s ease;
                    }
                }
                a:hover:after {
                    right: 7%;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    div.service-panels {

        ul {
            grid-row-gap: 40px;

            > li {
                overflow: hidden;
                div.text {
                    grid-row: 2;
                    padding: 25px 20px;
                    h2 {
                        font-size: 1.1rem;
                        line-height: 1.2;
                        padding-bottom: 10px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 0.9rem;
                        line-height: 1.5;
                        margin-bottom: 10px;
                    }

                    ul {
                        margin-top: 10px;
                        li {
                            font-size: 0.7rem;
                            line-height: 1.3;
                            padding: 8px 0;
                        }
                    }
                    div.btn {
                        font-size: 0.7rem;
                        a {
                            padding: 10px 20px;
                        }
                    }
                }

                div.img {
                    grid-row: 1;
                    border-bottom-width: 7px;
                    height: 200px;
                }
                div.link {
                    a {
                        font-size: 0.8rem;
                        padding: 12px 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 560px) {
    div.service-panels {
        width: 75%;
        justify-self: center;
        ul {
            grid-row-gap: 50px;
            > li {
                div.text {
                    padding: 40px 50px;
                    h2 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: 0.95rem;
                    }
                    ul {
                        li {
                            font-size: 0.75rem;
                            padding: 10px 0;
                        }
                    }
                }
                div.link {
                    a {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 960px) {
    div.service-panels {
        width: unset;
        ul {
            grid-template-columns: unset;
            gap: 80px;
            > li {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr auto;
                grid-gap: 2px;
                div.text {
                    grid-row: 1 / span 2;
                    padding: 50px;

                    h2 {
                        font-size: 1.3rem;
                        margin-bottom: 20px;
                    }
                }
                div.img {
                    height: 100%;
                    border-bottom: none;
                }
            }

            >li:nth-of-type(odd) {
                div.text {
                    grid-column: 1;
                }
            }

            >li:nth-of-type(even) {
                div.text {
                    grid-column: 2;
                }
            }
        }
    }
}


@media only screen and (min-width: 1140px) {
    div.service-panels {
        ul {
            gap: 90px;
            > li {
                div.text {
                    padding: 50px 60px;
                }
            }
        }
    }
}



@media only screen and (min-width: 1280px) {
    div.service-panels {
        ul {
            gap: 100px;
            > li {
                div.text {
                    padding: 60px 70px;
                    h2 {
                        font-weight: 400;
                        font-size: 1.6rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    ul {
                        li {
                            font-size: 0.8rem;
                        }
                    }
                }
                div.link {
                    a {
                        font-size: 0.9rem;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1400px) {
    div.service-panels {
        ul {
            gap: 120px;
            > li {
                div.text {
                    padding: 60px 100px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    div.service-panels {
        ul {
            > li {
                div.text {
                    padding: 90px 100px;
                }
            }
        }
    }
}