div.service-cards {
    ul {
        display: grid;

        li {
            a {
                display: block;
                height: 100%;
                position: relative;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                transition: all .35s ease;
            }

            h2 {
                font-family: $monty;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        li a:before {
            display: block;
            content: '';
            position: absolute;
        }

        li a:hover {
            transform: scale(1.02);
            background: rgba(255, 255, 255, 1);
        }

        li:nth-of-type(1) a:before {
            background: #ed1a3b;
        }

        li:nth-of-type(2) a:before {
            background: #0a9856;
        }

        li:nth-of-type(3) a:before {
            background: #5d75a5;
        }

        li:nth-of-type(4) a:before {
            background: #bd8d27;
        }
    }
}

@media only screen and (min-width: 320px) {
    div.service-cards {

        ul {
            grid-row-gap: 15px;

            li {
                text-align: center;

                a {
                    border-radius: 5px;
                    padding: 20px 20px 30px 20px;
                }

                h2 {
                    font-size: 0.85rem;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.4;
                }
            }

            li a:before {
                height: 3px;
                left: 10px;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}

@media only screen and (min-width: 560px) {
    div.service-cards {

        justify-self: center;
        width: 75%;

        ul {
            li {
                a {
                    padding: 30px 30px 35px 30px;
                }
            }

            li a:before {
                left: 20px;
                right: 20px;
                bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 730px) {
    div.service-cards {
        width: unset;
        ul {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: revert;
        }
    }
}

@media only screen and (min-width: 960px) {
    div.service-cards {

        ul {
            gap: 25px;
        }
    }
}

@media only screen and (min-width: 1140px) {
    div.service-cards {

        ul {
            li {
                a {
                    padding: 40px 70px 60px 70px;
                }

                h2 {
                    font-size: 1rem;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 1rem;
                }
            }

            li a:before {
                left: 50px;
                right: 50px;
                bottom: 30px;
                height: 5px;
            }
        }
    }
}


@media only screen and (min-width: 1600px) {
    div.service-cards {

        ul {
            gap: 50px;

            li {
                a {
                    padding: 60px 100px 80px 100px;
                }

                h2 {
                    font-size: 1.1rem;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            li a:before {
                left: 70px;
                right: 70px;
                bottom: 40px;
                height: 8px;
            }
        }
    }
}