

div.staff-bio {
    display: grid;
    p.pos, p.email {
        text-transform: uppercase;
        font-weight: 700;
    }
    p.tel {
        font-weight: 300;
    }
    p.email {
        a {
            border: 1px solid $beige;
            border-radius: 3px;
            transition: all .35s ease;
            &:hover {
                background: #fff;
            }
        }
    }
    div.info {
        border-bottom: 1px solid #e4e4e7;
    }
    div.img {
        grid-row: 1;
        overflow: hidden;
        background: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

div.other-staff {
    ul {
        li {
            display: grid;
            p {
                text-transform: uppercase;
                font-weight: 700;
            }
            div.img {
                background: #fff;
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    div.staff-bio {
        text-align: center;
        margin-bottom: 50px;
        div.section-header {
            grid-row: 1;
        }
        div.img {
            grid-row: 2;
            margin-bottom: 20px;
            padding: 10px;
            max-width: 400px;
            justify-self: center;
            img {
                border: 5px solid $lt-beige;
            }
        }
        div.info {
            margin-bottom: 50px;
            h2 {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.9rem;
            }
            p.pos {
                font-size: 0.75rem;
                margin-bottom: 10px;
            }
            p.tel {
                font-size: 1.2rem;
                margin-bottom: 25px;
            }
            p.email {
                font-size: 0.8rem;
                a {
                    padding: 5px 20px;
                }
            }
        }
        div.text-block {
            margin-bottom: 50px;
        }
    }


    div.other-staff {
        text-align: center;
        h2 {
            font-size: 1.3rem;
            margin-bottom: 30px;
        }
        ul {
            li {
                margin-bottom: 30px;
                div.text {
                    h3 {
                        font-size: 1.1rem;
                        margin-bottom: 3px;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                }
                div.img {
                    grid-row: 1;
                    margin-bottom: 15px;
                    overflow: hidden;
                    width: 120px;
                    height: 120px;
                    justify-self: center;
                    padding: 10px;
                    transition: all .35s ease;
                }
            }
            li:hover {
                div.img {
                    transform: scale(1.05);
                }
            }
        }
    }

}

@media only screen and (min-width: 560px) {
    div.staff-bio {
        div.img {
            margin-bottom: 30px;
            padding: 15px;
            img {
                border: 7px solid $lt-beige;
            }
        }
        div.info {
            margin-bottom: 60px;
            h2 {
                font-size: 1.3rem;
                margin-bottom: 5px;
            }
            p.pos {
                font-size: 0.8rem;
                margin-bottom: 15px;
            }
            p.tel {
                font-size: 1.3rem;
                margin-bottom: 30px;
            }
            p.email {
                font-size: 0.8rem;
            }
        }
        div.text-block {
            margin-bottom: 70px;
        }
    }

    div.other-staff {
        ul {
            display: flex;
            justify-content: center;
            gap: 10%;
            li {
                div.img {
                    margin-bottom: 10px;
                    width: 150px;
                    height: 150px;
                    justify-self: unset;
                    padding: 10px;
                }
                div.text {
                    h3 {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 960px) {

    div.staff-bio {
        grid-template-columns: 35% auto;
        grid-template-rows: auto auto auto 1fr;
        grid-column-gap: 5%;
        padding: unset;
        box-shadow: none;
        background: none;
        text-align: left;
        div.section-header {
            grid-column: 1 / span 2;
            justify-self: start;

        }
        div.info {
            margin-bottom: 40px;
            padding-bottom: unset;
            align-self: center;
            grid-row: 2;
            h2 {
                font-size: 1.4rem;
                margin-bottom: 10px;
            }
            p.pos {
                font-size: 0.8rem;
                margin-bottom: 20px;
            }
            p.tel {
                font-size: 1.3rem;
                margin-bottom: 30px;
            }
            p.email {
                font-size: 0.75rem;
            }
        }
        div.text-block {
            grid-row: 3 / span 2;
        }
        div.img {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            align-self: start;
            grid-column: 1;
            grid-row: 2 / span 2;
            margin-top: -7px;
            margin-bottom: 100px;
            max-width: unset;
            padding: 8px;
            img {
                border: 4px solid $lt-beige;
            }
        }
    }

    div.other-staff {
        grid-column: 2;
        grid-row: 5;
        text-align: left;
        h2 {
            font-size: 1.4rem;
            margin-bottom: 30px;
        }
        ul {
            gap: unset;
            flex-direction: column;
            li {
                grid-template-columns: auto 1fr;
                grid-column-gap: 20px;
                div.img {
                    margin-bottom: unset;
                    width: 120px;
                    height: 120px;
                    padding: 5px;
                }
                div.text {
                    align-self: center;
                    h3 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1280px) {

    div.staff-bio {
        grid-template-columns: 33% auto;
        div.info {
            margin-bottom: 60px;
        }
    }

    div.other-staff {
        grid-column: 2;
        grid-row: 6;
        h2 {
            margin-bottom: 30px;
        }
        ul {
            flex-direction: row;
            justify-content: start;
            gap: 50px;
            li {
                a {
                    grid-column-gap: 20px;
                }
                div.img {
                    width: 120px;
                    height: 120px;
                }
                div.text {
                    align-self: end;
                    margin-bottom: 10px;
                }
            }
        }
    }
}


@media only screen and (min-width: 1600px) {

    div.staff-bio {
        grid-template-columns: 30% auto;

    }
}