div.nav-wrap {
    display: grid;
    position: relative;
    margin: 0 auto;

}





div.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));

    .swiper.wrapper {
        align-self: start;
    }
    
    blockquote {
        display: grid;
        grid-template-rows: auto auto;
        align-self: start;
        text-align: center;

        >div {
            align-self: start;
        }

        p {
            font-style: italic;
            color: #a67b20;
            text-wrap: pretty;
        }
        p:not(:last-child) {
            margin-bottom: 10px;
        }

        cite {
            font-family: $monty;
            text-transform: uppercase;
            font-weight: 600;

            span {
                // display: block;
            }
        }

        div.img {
            grid-row: 1;
            justify-self: center;

            img {
                width: auto;
            }
        }
    }
}


@media only screen and (min-width: 320px) {

    .swiper {
        width: 80%;
    }

    div.nav-wrap {
        margin-top: -15px;
        div.swiper-button-next,
        div.swiper-button-prev {
            top: 25px;
            background: lighten($beige, 15%);
            border-radius: 3px;
            transition: all .35s ease;
    
            &:hover {
                background: lighten($beige, 5%);
            }
    
            &:after {
                color: #fff;
                font-size: 1.2rem;
                font-weight: 900;
            }
        }
    
    
        div.swiper-button-next {
            right: -3%;
        }
    
        div.swiper-button-prev {
            left: -3%;
        }
    }

    div.testimonials {
        blockquote {
            gap: 15px;

            p {
                font-size: 0.9rem;
                line-height: 1.4;
            }

            cite {
                font-size: 0.7rem;
                line-height: 1.5;
            }
        }
    }
}



@media only screen and (min-width: 560px) {

    .swiper {
        width: 90%;
    }

    div.nav-wrap {
        div.swiper-button-next {
            right: -4%;
        }
    
        div.swiper-button-prev {
            left: -4%;
        }
    }

    div.testimonials {
        gap: 70px;
    

        blockquote {
            p {
                font-size: 0.95rem;
            }
            cite {
                line-height: 1.3;
            }
        }
    }
}


@media only screen and (min-width: 730px) {

    div.nav-wrap {
        div.swiper-button-next,
        div.swiper-button-prev {
            top: 50px;
            background-color: #bd8d27;
            &:hover {
                background-color: #cba24a;
            }
        }
    
        div.swiper-button-next {
            right: -5px;
        }
    
        div.swiper-button-prev {
            left: -5px;
        }
    }


    div.testimonials {


        blockquote {
            background: #f4f4f2;
            padding: 25px;
            border-radius: 10px;
            p {
                font-size: 1rem;
            }

            cite {
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    div.nav-wrap {
        div.swiper-button-next {
            right: 0;
        }

        div.swiper-button-prev {
            left: 0;
        }             
    }

}


@media only screen and (min-width: 1140px) {

    .swiper {
        width: 95%;
    }
    
    div.nav-wrap {
        max-width: 960px;
        justify-self: center;
        div.swiper-button-next {
            right: -20px;
        }
    
        div.swiper-button-prev {
            left: -20px;
        }
    }


    div.testimonials {
        blockquote {
            padding: 35px 50px;
            p {
                font-size: 1.1rem;
            }

            cite {
                font-size: 0.85rem;
            }
        }
    }
}


@media only screen and (min-width: 1280px) {

    div.testimonials {
        div.swiper-button-next,
        div.swiper-button-prev {
            top: 60px;
        }

        blockquote {
            p {
                font-size: 1.15rem;
                line-height: 1.5;
            }

            cite {
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {

    div.testimonials {
        blockquote {
            p {
                font-size: 1.1rem;
            }

            cite {
                font-size: 0.95rem;
            }
        }
    }
}