div.text-block {
    word-wrap: break-word;
    
    h3 {
        font-weight: 400;
    }
    
    *:last-child {
        margin-bottom: 0;
    }
    
    p {
        color: darken($beige, 10%);
    }
    
    ul {
        li {
            border-bottom: 1px solid lighten(#d1beb4, 12%);
            position: relative;
            font-weight: 500;
            color: #ad9587;
            font-style: italic;
            
            &:before {
                position: absolute;
                display: block;
                content: '';
                background: url("/_dist/bullet.svg") no-repeat;
                background-size: contain;
                left: 0;
            }
            
            &:last-of-type {
                border: none;
            }
        }
    }
    
    img, figure {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (min-width: 320px) {
    div.text-block {
        text-align: center;
        
        h2 { font-size: 1.3rem; }
        h3 { 
            font-size: 1.1rem;
            line-height: 1.3;
        }
        p { 
            font-size: 0.9rem;
            line-height: 1.5;
        }
        ul li {
            font-size: 0.85rem;
            line-height: 1.4;
            padding-left: 12px;
            &:before {
                width: 8px;
                height: 8px;
                top: 5px;
            }
            &:not(:last-child) {
                padding-bottom: 7px;
                margin-bottom: 10px;
            }
        }
        
        // Fluid spacing rules
        > * + *:not(p, ul, h2) {
            margin-top: clamp(20px, 2vw + 10px, 30px);
        }
        > h3 {
            margin-top: clamp(30px, 3vw + 15px, 45px);
        }
        > h2:has(+ ul),
        > h3:has(+ ul),
        > h2:has(+ p),
        > h3:has(+ p) {
            margin-bottom: clamp(15px, 1.5vw + 7.5px, 22.5px);
        }
        > p {
            margin-bottom: clamp(10px, 1vw + 5px, 15px);
            &:has(+ ul) {
                margin-bottom: clamp(20px, 2vw + 10px, 30px);
            }
            &:has(+ h2) {
                margin-bottom: clamp(30px, 3vw + 15px, 45px);
            }
        }
        > ul {
            margin-bottom: clamp(30px, 3vw + 15px, 45px);
        }
        > :first-child {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 560px) {
    div.text-block {
        h2 { font-size: 1.5rem; }
        h3 { font-size: 1.2rem; }
        ul li { font-size: 0.9rem; }
    }
}

@media only screen and (min-width: 730px) {
    div.text-block {
        h3 { font-size: 1.3rem; }
        p { font-size: 0.95rem; }
    }
}

@media only screen and (min-width: 960px) {
    div.text-block {
        text-align: left;
        h2 { font-size: 1.6rem; }
        h3 { font-size: 1.4rem; }
        ul li {
            padding-left: 17px;
            &:before {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    div.text-block {
        p, ul li { font-size: 1rem; }
        ul li:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 1280px) {
    div.text-block {
        h2 { font-size: 1.8rem; }
        p { font-size: 1.1rem; }
        ul li { font-size: 1.05rem; }
    }
}