div.text-image-block {
    >ul {
        display: grid;

        >li {
            display: grid;
            div.text {
                h2 {
                    font-weight: 600;
                    border-bottom: 1px solid lighten(#71717a, 20%);
                }

                ul {
                    li {
                        font-family: $monty;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-bottom: 1px solid rgba(255, 255, 255,1);
                    }

                    li:last-of-type {
                        padding-bottom: 0;
                    }
                }
                *:last-child {
                    margin-bottom: 0;
                }

            }

            div.img {
                background-color: #fff;
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    div.text-image-block {

        ul {
            grid-row-gap: 40px;
            > li {
                div.text {
                    padding-block-start: 20px;
                    text-align: center;
                    h2 {
                        font-size: 1.1rem;
                        line-height: 1.2;
                        padding-bottom: 10px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 0.9rem;
                        line-height: 1.5;
                        margin-bottom: 10px;
                    }

                    ul {
                        margin-top: 10px;
                        li {
                            font-size: 0.7rem;
                            line-height: 1.3;
                            padding: 8px 0;
                        }
                    }
                }

                div.img {
                    grid-row: 1;
                }
            }
        }
    }
}

@media only screen and (min-width: 560px) {
    div.text-image-block {
        justify-self: center;
        ul {
            grid-row-gap: 50px;
            > li {
                div.text {
                    h2 {
                        font-size: 1.2rem;
                    }
                    ul {
                        li {
                            font-size: 0.75rem;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 960px) {
    div.text-image-block {
        width: unset;
        ul {
            > li {
                grid-column-gap: 7%;
                min-height: 250px;
                div.text {
                    align-self: start;
                    text-align: left;
                    padding: unset;
                    h2 {
                        font-size: 1.2rem;
                        margin-bottom: 15px;
                    }
                }
                div.img {
                    align-self: start;
                }
            }

            >li:nth-of-type(odd) {
                grid-template-columns: 1fr 40%;
                div.text {
                    grid-column: 1;
                }
                div.img {
                    grid-row: unset;
                    grid-column: 2;
                }
            }

            >li:nth-of-type(even) {
                grid-template-columns: 40% 1fr;
                div.text {
                    grid-column: 2;
                }
            }
        }
    }
}


@media only screen and (min-width: 1140px) {
    div.text-image-block {
        max-width: 1100px;
        ul {
            grid-row-gap: 80px;
            > li {
                grid-column-gap: 10%;
                div.text {
                    h2 {
                        font-size: 1.4rem;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                    p {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}




@media only screen and (min-width: 1280px) {
    div.text-image-block {
        ul {
            grid-row-gap: 100px;
            > li {
                div.text {
                    h2 {
                        font-size: 1.6rem;
                        margin-bottom: 25px;
                    }
                    p {
                        font-size: 0.95rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

