@import 'vendors/_nav/hc-offcanvas-nav';
@import 'core';
@import 'abstracts/_colors';
@import 'abstracts/_fonts';
@import 'pages/_section-padding';
@import 'components/_text-block';
@import 'components/_header';
@import 'components/_location';
@import 'components/_footer';
@import 'components/_accordion';
@import 'components/_faq-section';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'fontello';
    src: url('/_dist/font/fontello.eot?75336515');
    src: url('/_dist/font/fontello.eot?75336515#iefix') format('embedded-opentype'),
         url('/_dist/font/fontello.woff2?75336515') format('woff2'),
         url('/_dist/font/fontello.woff?75336515') format('woff'),
         url('/_dist/font/fontello.ttf?75336515') format('truetype'),
         url('/_dist/font/fontello.svg?75336515#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

div.scroll-tracker {
    height: 10px;
    background: red;
    position: fixed;
    z-index: 2000;
    // width: 100%;
    inset: 0 0 auto;
    transform-origin: left;
}



body {
    font-family: $open;
    color: #58595b;
}

div.wrap {
	position: relative;
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

*.nest {
	display: grid;
	// justify-content: center; 
    justify-items: center;
	> .ctr {
		width: clamp(280px, 80%, 1280px);
	}
}

*.gd {
    display: grid;
}

div.bgImg {
    // position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $beige;
}

div.content {
    z-index: 0;
}

section {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

div.section-header,
div.section-header {
    h1 {
        font-weight: 600;
    }
    h2 {
        font-weight: 400;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}


div.btn1 {
    text-align: center;
    font-family: $monty;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    a {
        display: block;
        background: #d6d3d1;
        border-radius: 5px;
        border: 1px solid #d6d3d1;
        transition: all .35s ease;
    }
    a:hover {
        background: $lt-beige;
        transform: scale(1.02);
    }
}

*.roundel {
    z-index: 1000;
    &:after {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-style: solid;
    }
}

*.roundel.rw {
    &:after {
        background-image: url('/images/roundel-white.svg');
        background-color: $lt-beige;
        border-color: $lt-beige;
    }
}

*.roundel.rg {
    &:after {
        background-image: url('/images/roundel-grey.svg');
        background-color: #fff;
        border-color: #fff;
    }
}



@media only screen and (min-width: 320px) {


    *.roundel {
        &:after {
            bottom: -25px;
            width: 60px;
            height: 60px;
            border-width: 5px;
        }
    }


    div.section-header {
        text-align: center;
        margin-bottom: 20px;
        max-width: 800px;
        justify-self: center;
        h1, h2 {
            font-size: 1.4rem;
            line-height: 1.3;
        }
    }

    div.section-header:has(p) {
        h1, h2 {
            margin-bottom: 20px;
        }
        p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 15px;
        }
    }

    div.btn1 {
        font-size: 0.75rem;
        a {
            padding: 8px 30px;
        }
    }
}

@media only screen and (min-width: 560px) {

    div.section-header {
        margin-bottom: 30px;
        h1, h2 {
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }


    *.roundel {
        &:after {
            bottom: -30px;
            width: 70px;
            height: 70px;
        }
    }

}


@media only screen and (min-width: 730px) {

    div.section-header {
        margin-bottom: 50px;
        h1, h2 {
            font-size: 1.6rem;
        }
    }

}


@media only screen and (min-width: 960px) {
    div.section-header {
        h1, h2 {
            font-size: 1.7rem;
        }
    }

    div.section-header:has(p) {
        h2 {
            margin-bottom: 15px;
        }
        p {
            font-size: 0.95rem;
            line-height: 1.4;
            margin-bottom: 10px;
        }
        p.tel {
            font-size: 1.2rem;
        }
    }

    *.roundel {
        &:after {
            bottom: -40px;
            width: 80px;
            height: 80px;
            border-width: 7px;
        }
    }
}



@media only screen and (min-width: 1140px) {

    div.section-header:has(p) {
        h2 {
            margin-bottom: 20px;
        }
        p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 15px;
        }
        p.tel {
            font-size: 1.3rem;
        }
    }
}

@media only screen and (min-width: 1280px) {

    div.section-header {
        margin-bottom: 30px;
        max-width: unset;
        h1, h2 {
            font-size: 1.8rem;
        }
    }

    *.roundel {
        &:after {
            bottom: -40px;
            width: 90px;
            height: 90px;
            border-width: 10px;
        }
    }


}

@media only screen and (min-width: 1400px) {
    div.section-header {
        margin-bottom: 40px;
        h1, h2 {
            font-size: 2rem;
            font-weight: 400;
        }
    }

    div.section-header:has(p) {
        p {
            font-size: 1.05rem;
            line-height: 1.6;
        }
        p.tel {
            font-size: 1.4rem;
        }
    }

    *.roundel {
        &:after {
            bottom: -50px;
            width: 100px;
            height: 100px;
        }
    }

    
}

@media only screen and (min-width: 1600px) {

    div.section-header {
        margin-bottom: 50px;
        h1, h2 {
            font-size: 2.2rem;
        }
    }

    div.section-header:has(p) {
        p {
            font-size: 1.1rem;
            margin-bottom: 20px;
        }
        p.tel {
            font-size: 1.6rem;
        }
    }

    *.roundel {
        &:after {
            bottom: -55px;
            width: 110px;
            height: 110px;
        }
    }
}


@media only screen and (min-width: 1800px) {

    div.section-header {
        margin-bottom: 50px;
        h1, h2 {
            font-size: 2.4rem;
        }
    }

    *.roundel {
        &:after {
            bottom: -55px;
            width: 110px;
            height: 110px;
        }
    }
}
