{% extends "_layouts/layout" %}

{% block content %}

{% block pageCss %}
{% endblock %}

<div class="content">
		


    <div class="content">
    
        <section class="s1 pad nest roundel rw">
            <div class="ctr gd">
                <div class="section-header">
                    <h1>Articles</h1>
                </div>
                <div class="article-cards">
                    {% set level2Entries = craft.entries.section('articles').level(2) %}
                    <ul>
                        {% for entry in level2Entries %}
                        <li>
                            <a href="{{ entry.url }}">
                                <div class="text">
                                    <h2>{{ entry.title }}</h2>
                                    <p>{{ wordLimit(entry.articleText, 20, ' ...') }}</p>
                                </div>
                                {% if entry.articleImage|length %}
                                <div class="img">
                                    <span style="background-image: url('{{ entry.articleImage.one.url() }}');"></span>
                                </div>
                                {% endif %}
                                <p class="more">Read More...</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        {% include '_components/_parallax' %}

    </div>
</div>
{% endblock %}
