{% extends "_layouts/layout" %}

{% block pageCss %}
<link rel="stylesheet" href="/_dist/css/pages/articles.css">
{% endblock %}

{% block content %}
<div class="content">

    <section class="s1 pad nest roundel rw">
        <div class="ctr gd article">
            <div class="section-header">
                <h1>{{ entry.title }}</h1>
            </div>
            <div class="text-block">
                {{ entry.articleText }}
            </div>
            <div class="main-image">
                <img src="{{ entry.articleImage.one.url }}" alt="{{ entry.articleImage.one.title }}">
            </div>
            <div class="archive">
                <h2>More Articles...</h2>
                {% set level2Entries = craft.entries.section('articles').level(2).id('not ' ~ entry.id) %}
                <ul>
                    {% for entry in level2Entries %}
                    <li><h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>	
</div>
{% endblock %}
