<div class="location">
    <div class="section-header">
        <h2>Get in Touch</h2>
        <p>Get in touch and find out why Caledonian Lifts Manchester are the best choice for all your lift requirements. Our friendly and expert team are available <strong>24/7</strong> to answer any queries you may have.</p>
        <p class="tel">Telephone: <a href="tel:01614258441">0161 425 8441</a></p>
        {% apply enkode_emails %}
        <p class="email"><a href="mailto:admin@caledonianliftsmanchester.co.uk">Click to Email us...</a></p>
        {% endapply %}
        <p class="address">
            Caledonian Lifts Manchester Ltd, The Cheviot Suite, Earl Business Centre, Dowry Street, Oldham OL8 2PF
        </p>
    </div>
    <div class="map-wrap">
        <div class="col2" id="map" class="map">Map</div>
    </div>
</div>