<div>
    <div>
        <h2>Get in Touch</h2>
        <p>Get in touch and find out why Altius Lifts are the best choice for all your lift requirements. Our friendly and expert team are available <strong>24/7</strong> to answer any queries you may have.</p>
        <p>Telephone: <a href="tel:01614258441">0161 425 8441</a></p>
        {% apply enkode_emails %}
        <p><a href="mailto:admin@caledonianliftsmanchester.co.uk">Click to Email us...</a></p>
        {% endapply %}
        <p>
            Altius Lifts Ltd, The Cheviot Suite, Earl Business Centre, Dowry Street, Oldham OL8 2PF
        </p>
    </div>
    <div>
        <div id="map">Map</div>
    </div>
</div>