{% for block in entry.sectorPageBuilder.all() %}
    {% switch block.type %}
        {% case 'sectionIntroduction' %}
        <section>
            <div>
                <h2>{{ block.sectionTitle }}</h2>
                {{ block.sectionIntro }}
            </div>
        </section>

        {% case 'infoBlocks' %}
        <section>
            <div>
                <ul>
                    {% for item in block.infoBlock %}
                    <li>
                        <div>
                            <h2>{{ item.blockTitle }}</h2>
                            {{ item.blockText }}
                        </div>
                        {% if item.blockImage|length %}
                        <div>
                            <img src="{{ item.blockImage.one.url() }}" alt="{{ item.blockImage.one.title }}">
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        {% case 'accordion' %}
        <section>
            <ul>
                {% for item in block.accordionContent %}
                <li>
                    <div>{{ item.accordionTitle }}</div>
                    <div>
                        <div>{{ item.accordionText }}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

        {% case 'bigParallaxImage' %}
        {% if block.image.one() %}
        <div>
            <div style="background-image: url('{{ block.image.one().url() }}');"></div>
        </div>
        {% endif %}
    {% endswitch %}
{% endfor %}
    