@import '../abstracts/_colors';
@import '../abstracts/_fonts';
@import '../components/_contact';
@import '../components/_parallax';


section.s1 {
    background-color: $lt-beige;
}

div.signUpForm {
    max-width: 900px;
    justify-self: center;
}