@media only screen and (min-width: 320px) {

    *.pad {
        padding: 60px 0;
        position: relative;
    }
    *.pad:not(:last-child) {
        border-bottom: 2px solid #fff;
    }

}

@media only screen and (min-width: 560px) {

    *.pad {
        padding: 80px 0;
    }
}

@media only screen and (min-width: 730px) {

    *.pad {
        padding: 90px 0;
    }
}

@media only screen and (min-width: 960px) {

    *.pad {
        padding: 100px 0;
    }
}


@media only screen and (min-width: 1140px) {
    *.pad {
        // padding: 10px 0;
    }
}

@media only screen and (min-width: 1280px) {
    *.pad {
        padding: 120px 0;
    }
}

@media only screen and (min-width: 1400px) {
    *.pad {
        padding: 140px 0;
    }
}

@media only screen and (min-width: 1600px) {
    *.pad {
        padding: 160px 0;
    }

}