@import '../abstracts/_colors';
@import '../abstracts/_fonts';
@import '../components/_hero';
// @import '../components/_text-image-block';
@import '../components/_new-sector-blocks';
@import '../components/_section-intro';
@import '../components/_accordion';
@import '../components/_parallax';
@import '../components/_clients';
@import '../components/_client-carousel';
@import '../components/_testimonials-carousel';


section.s1,
section.s3 {
    background-color: $lt-beige;
}