@import '../abstracts/_colors';
@import '../abstracts/_fonts';
@import '../components/_hero';
@import '../components/_service-panels';
@import '../components/_service-cards';
@import '../components/_sectors';
@import '../components/_parallax';

section.s1,
section.s3 {
    background-color: $lt-beige;
}