@import '../abstracts/_colors';
@import '../abstracts/_fonts';
@import '../components/_staff-cards';
@import '../components/_staff-bio';
@import '../abstracts/_colors';
@import '../abstracts/_fonts';

section.s1 {
    background-color: $lt-beige;
}