@import '../abstracts/_colors';
@import '../abstracts/_fonts';


section.s1 {
    background-color: $lt-beige;
}


div.section-header {
    max-width: 600px;
}

div.btn {
    background-color: #65a30d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-self: center;

    &:hover {
        background-color: lighten(#65a30d, 5%);
    }

    a {
        display: block;
        color: #fff;
    }
}

@media (min-width: 320px) {
    div.btn {
        margin-top: 30px;
        max-width: fit-content;
        a {
            padding: 1.2rem;
            font-size: 0.95rem;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}

@media (min-width: 560px) {
    div.btn {
        margin-top: 40px;
        a {
            padding: 1.3rem;
            font-size: 1rem;
        }
    }
}

@media (min-width: 1280px) {
    div.btn {
        margin-top: 50px;
        a {
            padding: 1.3rem 3rem;
            font-size: 1.1rem;
        }
    }
}