{% extends "_layout.twig" %}

{% block pageClass %}careers{% endblock %}

{% block content %}
<div class="careers-page">
    {% include '_components/sections/page-header.twig' %}
    {% include '_components/sections/simple-cards.twig' with { 
        backgroundVariant: 'white',
        cardVariant: 'pale-blue'
        } %}

    {% include '_components/sections/jobs-grid.twig' %}

    {% include '_components/forms/careers-application-form.twig' with {
        title: 'Apply Now',
        description: 'Interested in joining our team? Fill out the application form below and we\'ll be in touch.',
        positions: [
            { id: 1, title: 'Senior Hair Stylist' },
            { id: 2, title: 'Beauty Therapist' },
            { id: 3, title: 'Salon Receptionist' }
        ]
    } %}
    {% include '_components/sections/text-image-section.twig' with {
          backgroundVariant: 'pale-blue'
    }%}

</div>
{% endblock %}
