{% extends "_layouts/layout" %}

{% block pageCss %}
{% endblock %}

{% block content %}
<div class="content">

    <section class="s1 pad nest roundel rw">
        <div class="ctr gd">
            <div class="section-header">
                <h1>Get in touch</h1>
                <p>We’d love to hear from you.</p>
                <p>Either complete the form or use one of the alternative methods below. A member of our customer service support team will be in contact.</p>
            </div>
            <div class="signUpForm general">
                {{ craft.formie.renderForm('generalEnquiries') }}
            </div>
        </div>
    </section>
    {% include '_components/_parallax' %}

    	
</div>
{% endblock %}
