{% extends "_layouts/layout" %}

{% block pageCss %}
{% endblock %}


{% block content %}
<div>
    <div>
        <div style="background-image: url('{{ entry.heroImage.one.url() }}')">
        </div>
        <div></div>
        <div>
            <h1>{{ entry.heroTitle }}</h1>
            <p>{{ entry.heroText }}</p>
        </div>
    </div>

    <section>
        <div>
            <div>
                <h2>Lift Services</h2>
            </div>
            {% include '_components/_service-cards' %}
        </div>
    </section>

    {% include '_components/_parallax' %}

    <section>
        <div>
            {% include '_components/_service-panels' %}
        </div>
    </section>


    <section>
        <div>
            <div>
                <h2>Sectors We Serve</h2>
            </div>
            {% include '_components/_sectors' %}
        </div>
    </section>
    {% include '_components/_faq-section' %}


</div>
{% endblock %}
