{% extends "_layout.twig" %}

{% block pageClass %}home{% endblock %}

{% block content %}
<div class="home-page">
    {% include '_components/sections/hero.twig' %}
    {% include '_components/sections/simple-cards.twig' with {
        backgroundVariant: 'green-gradient',
        cardVariant: 'white'
    } %}

    {% include '_components/sections/services-preview.twig' %}
    {% include '_components/sections/testimonials.twig' %}
    {% include '_components/sections/products-showcase.twig' %}
    {% include '_components/sections/instagram-feed.twig' %}
    {% if entry.callToAction.sectionTitle %}
        {% include '_components/sections/call-to-action.twig' %}
    {% endif %}
</div>
{% endblock %}
