{% extends "_layout.twig" %}

{% block pageClass %}team{% endblock %}

{% block content %}
<div class="team-page">
    {% include '_components/sections/page-header.twig' %}
    {% include '_components/sections/team-grid.twig' %}
    {% include '_components/sections/simple-cards.twig' with { 
        backgroundVariant: 'pale-blue',
        cardVariant: 'white'
    } %}
    {% if entry.callToAction.sectionTitle %}
        {% include '_components/sections/call-to-action.twig' %}
    {% endif %}
</div>
{% endblock %}
