{% extends "_layouts/layout" %}

{% block head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div>
    <section>
        <div>
            <div>
                <h1>Thank You</h1>
                <p>Your enquiry has been received.</p>
                <p>A member of our team will be in touch with you shortly. For urgent enquiries, please call our customer service team on 0161 425 8441</p>
                <div><a href="/">Return to Homepage</a></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
