{% extends "_layouts/layout" %}
{% block pageCss %}
<link rel="stylesheet" href="/_dist/css/pages/thank-you.css">
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="content">
    <section class="s1 pad nest roundel rw">
        <div class="ctr">
            <div class="section-header">
                <h1>Thank You</h1>
                <p>Your enquiry has been received.</p>
                <p>A member of our team will be in touch with you shortly. For urgent enquiries, please call our customer service team on 0161 425 8441</p>
                <div class="btn"><a href="/">Return to Homepage</a></p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
