{% extends "_layouts/layout" %}

{% block pageCss %}
{% endblock %}

{% block content %}
<div class="content">
		
    <div class="hero nest">
        <div class="bgImg" style="background-image: url('{{ entry.heroImage.one.url() }}')">
        </div>
        <div class="overlay"></div>
        <div class="intro ctr">
            <h1>{{ entry.heroTitle }}</h1>
            <p>{{ entry.heroText }}</p>
        </div>
    </div>

    <section class="s1 pad nest roundel rw">
        <div class="ctr gd">
            <div class="text-block">
                {{ entry.textBlock }}
            </div>
        </div>
    </section>

    <section class="s2 pad nest roundel rg">
        <div class="ctr gd">
            {% include '_components/_service-panels' %}
        </div>
    </section>


    
    <section class="s2 pad nest rg">
        <div class="ctr gd relative">
            <div class="section-header">
                <h2>Who we work with...</h2>
            </div>
            {% include '_components/_logo-carousel2' %}
        </div>
    </section>

    {% include '_components/_parallax' %}

    <section class="s3 pad pad nest">
        <div class="ctr gd">
            <div class="section-header">
                <h2>Sectors We Serve</h2>
            </div>
            {% include '_components/_sectors' %}
        </div>
    </section>

    <section class="s2 pad nest rg">
        <div class="ctr gd">
            <div class="section-header">
                <h2>What our clients say about us...</h2>
            </div>
            {% include '_components/_testimonials' %}
        </div>
    </section>
	
</div>
{% endblock %}