{% extends "_layouts/layout" %}

{% block pageCss %}
{% endblock %}

{% block content %}
<div>

    <div>
        <div style="background-image: url('{{ entry.heroImage.one.url() }}')">
        </div>
        <div></div>
        <div>
            <h1>{{ entry.heroTitle }}</h1>
            <p>{{ entry.heroText }}</p>
        </div>
    </div>

    <section>
        <div>
            <div>
                {{ entry.textBlock }}
            </div>
        </div>
    </section>

    <section>
        <div>
            {% include '_components/_service-panels' %}
        </div>
    </section>



    <section>
        <div>
            <div>
                <h2>Who we work with...</h2>
            </div>
            {% include '_components/_logo-carousel2' %}
        </div>
    </section>

    {% include '_components/_parallax' %}

    <section>
        <div>
            <div>
                <h2>Sectors We Serve</h2>
            </div>
            {% include '_components/_sectors' %}
        </div>
    </section>

    <section>
        <div>
            <div>
                <h2>What our clients say about us...</h2>
            </div>
            {% include '_components/_testimonials' %}
        </div>
    </section>

</div>
{% endblock %}