{% extends "_layouts/layout" %}

{% block content %}
<div>
    {% include '_components/_hero' %}

    <section>
        <div>
            <div>
                {{ entry.textBlock }}
            </div>
        </div>
    </section>

    <section>
        <div>
            {% include '_components/_service-panels' %}
        </div>
    </section>

    {% include '_components/_parallax' %}

    <section>
        <div>
            <div>
                <h2>Sectors We Serve</h2>
            </div>
            {% include '_components/_sectors' %}
        </div>
    </section>

</div>
{% endblock %}