
<section class="gift-voucher-section">
    <div class="container">
        <div class="gift-voucher-content">
            {% if entry.promoLinks %}
                <a href="{{ entry.promoLinks.sectionLink.url }}" class="btn {{ entry.promoLinks.buttonClass }}"><i class="fas {{ entry.promoLinks.buttonIcon }}"></i>{{ entry.promoLinks.sectionLink.label }}</a>
            {% endif %}
        </div>
    </div>
</section>
