{% extends "_layouts/layout" %}

{% block pageCss %}
{% endblock %}

{% block content %}
<div class="content">
		
    <div class="hero nest">
        <div class="bgImg" style="background-image: url('{{ entry.heroImage.one.url() }}')">
        </div>
        <div class="overlay"></div>
        <div class="intro ctr">
            <h1>{{ entry.heroTitle }}</h1>
            <p>{{ entry.heroText }}</p>
        </div>
    </div>

{% set jobEntries = craft.entries.section('careers').level(2).all() %}
    <section class="s1 nest pad">
        <div class="ctr gd">
            <div class="section-header">
                {% if jobEntries|length > 0 %}
                    <h2>{{ entry.introHeader }}</h2>
                {% else %}
                    <p>Unfortunately we are not recruiting at the moment but please do check back soon.</p>
                {% endif %}
            </div>
            {% include '_components/_job-listing' %}
        </div>
    </section>



</div>
{% endblock %}
